<!-- <p-dialog header="Editar venta {{model.id}}" [(visible)]="display" [modal]="true" [closable]="true" [resizable]="false" [width]="500">
  <form [formGroup]="formUser" (ngSubmit)="onSubmit()" novalidate>
    <div class="form-floating mb-3">
      <input type="date" class="form-control" formControlName="fecha" placeholder="Fecha"
        [class.is-invalid]="formUser.controls['fecha'].invalid && formUser.controls['fecha'].touched">
      <label>Fecha</label>
    </div>

    <div class="form-floating mb-3">
      <input type="time" class="form-control" formControlName="hora" placeholder="Hora"
        [class.is-invalid]="formUser.controls['hora'].invalid && formUser.controls['hora'].touched">
      <label>Hora</label>
    </div>

    <div class="form-floating mb-3">
      <textarea class="form-control" formControlName="observacion" placeholder="Observacion"></textarea>
      <label>Observacion</label>
    </div>

    <p-footer>
      <button type="button" class="btn btn-outline-secondary" (click)="closeDialog()">
        <i class="bi bi-x"></i> Cerrar
      </button>
      <button type="submit" [disabled]="submitted" class="btn btn-success">
        <i class="bi bi-save"></i> Guardar
      </button>
    </p-footer>
  </form>
</p-dialog> -->
