<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Editar usuario {{model.id}}</h4>
    <!-- <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button> -->
</div>
<form [formGroup]="formUser" (ngSubmit)="onSubmit()" novalidate="">
    <div class="modal-body">
        <div class="form-floating mb-3">
            <input type="text" class="form-control"
                formControlName="nombre_completo" autocomplete="nombre_completo" 
                placeholder="name@example.com" 
                [class.is-invalid]="formUser.controls['nombre_completo'].invalid && formUser.controls['nombre_completo'].touched">
            <label for="nombre_completo">Nombre completo</label>
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="email" formControlName="email"
                autocomplete="email" placeholder="name@example.com" 
                [class.is-invalid]="formUser.controls['email'].invalid && formUser.controls['email'].touched">
            <label for="email">Email</label>
        </div>

        <div class="form-floating mb-3">
            <select class="form-control" name="turno" id="turno"  formControlName="turno" 
                [class.is-invalid]="formUser.controls['turno'].invalid && formUser.controls['turno'].touched">
                <option value="mañana" [selected]="model.turno == 'mañana'?'selected':'' ">Mañana</option>
                <option value="tarde" [selected]="model.turno == 'tarde'?'selected':'' ">Tarde</option>
                <option value="noche" [selected]="model.turno == 'noche'?'selected':'' ">Noche</option>
            </select>
            <label for="floatingturno">Turno</label>
        </div>
    </div>
    <div class="modal-footer">
        <!-- (click)="modal.close('Save click')" -->
        <!-- <button type="button" class="btn btn-outline-secondary" (click)="activeModal.close('Close click')">
            <i class="bi bi-x"></i>
            Cerrar
        </button> -->
        <button type="submit" [disabled]="submitted" class="btn btn-success">
            <i class="bi bi-save"></i>
            Guardar
        </button>
    </div>
</form>