<div class="row justify-content-between">
  <div class="row mb-3">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <span class="text-secondary">ESTADO ACTUAL</span>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <h4 [class]="cashRegister? 'text-success': 'text-danger'">
                <i
                  [class]="cashRegister? 
                    'bi bi-circle-fill text-success': 
                    'bi bi-circle-fill text-danger'"></i>
                {{cashRegister ? 'ABIERTA' : 'CERRADA'}}
              </h4>
            </div>
            <div class="col-4 text-end">
              <i class="bi bi-lock"></i>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <small class="text-secondary fs-5" *ngIf="cashRegister">
                Abierta {{ getOpenedAtHuman() }}
              </small>
              <small class="text-secondary fs-5" *ngIf="!cashRegister">
                Cerrada {{ getClosedAtHuman() }}
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <span class="text-secondary">EFECTIVO EN CAJA</span>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <h4 *ngIf="cashRegister">
                {{cashRegister?.cash_balance?? 0}} Bs.
              </h4>
              <h4 *ngIf="!cashRegister">
                {{cashRegisterClosed?.cash_balance?? 0}} Bs.
              </h4>
            </div>
            <div class="col-4 text-end">
              <i class="bi bi-wallet text-primary"></i>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
                <i class="bi bi-qr-code text-primary"></i> &nbsp;
                <span class="text-secondary">Saldo QR</span>
                <b *ngIf="cashRegister">
                  {{cashRegister?.qr_balance?? 0}} Bs.
                </b>
                <b *ngIf="!cashRegister">
                  {{cashRegisterClosed?.qr_balance?? 0}} Bs.
                </b>
            </div>
            <div class="col-6 text-end">
              <i class="bi bi-bank text-primary"></i> &nbsp;
              <span class="text-secondary">Saldo Bancos</span>
                <b *ngIf="cashRegister">
                  {{cashRegister?.transfer_balance?? 0}} Bs.
                </b>
                <b *ngIf="!cashRegister">
                  {{cashRegisterClosed?.transfer_balance?? 0}} Bs.
                </b>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <span class="text-secondary">ACCIONES RÁPIDAS</span>
            </div>
          </div>
          <div class="row">
            <div class="col-6 text-end">
              <button  
                [class]="!(cashRegister == null)? 
                  'btn btn-outline-secondary py-3'
                  : 'btn btn-success py-3'"
                [disabled]="!(cashRegister == null)"
                (click)="openCashRegister()">
                <i class="bi bi-box-arrow-right"></i>
                Abrir caja
              </button>
            </div>
            <div class="col-6 text-start">
              <button 
                class="btn btn-danger py-3" 
                [class]="!(cashRegister != null)? 
                  'btn btn-outline-secondary py-3'
                  : 'btn btn-danger py-3'"
                [disabled]="!(cashRegister != null)"
                (click)="closeCashRegister()">
                <i class="bi bi-box-arrow-right"></i>
                Cerrar caja
              </button>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
    <form [formGroup]="formSearch" (ngSubmit)="search()" novalidate="">
      <div class="input-group mb-3">
        <input type="text" formControlName="fieldCodigo" class="form-control w-25" placeholder="Codigo"
          aria-label="Buscar" aria-describedby="button-addon2">
        <input type="text" formControlName="fieldNombre" class="form-control w-50" placeholder="Buscar ..."
          aria-label="Buscar" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">
          <i class="bi bi-search"></i>
        </button>
      </div>
    </form>
  </div> -->

  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-end">
    
  </div>
</div>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Fecha</th>
        <th scope="col">Hora</th>
        <th scope="col">Tipo</th>
        <th scope="col">Concepto</th>
        <th scope="col">Metodo de pago</th>
        <th scope="col">Monto</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cashMovements">
        <th scope="row">{{item.id}}</th>
        <th scope="row">{{item.date_created}}</th>
        <th scope="row">{{item.time_created}}</th>
        <td>
          <app-badge-cash-movement-type [type]="item.type">
          </app-badge-cash-movement-type>
        </td>
        <td>{{item.concept}}</td>
        <td>{{item.payment_method_label}}</td>
        <td>
          <span 
            *ngIf="item.type == cashMovementTypeIN"
            class="text-success fw-bold">
            + {{item.amount}}
          </span>
          <span 
            *ngIf="item.type == cashMovementTypeOUT"
            class="text-danger fw-bold">
            - {{item.amount}}
          </span>
          <span 
            *ngIf="item.type != cashMovementTypeIN && item.type != cashMovementTypeOUT"
            class="fw-bold">
            {{item.amount}}
          </span>
        </td>
      </tr>
      <tr *ngIf="cashMovements.length == 0">
        <td colspan="7" class="text-center">
          No hay registros
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-between p-2">
    <select class="form-select" style="width: auto" [(ngModel)]="pagination.pageSize" (ngModelChange)="search()">
      <option *ngFor="let item of pagination.sizeOptions" [ngValue]="item">{{item}} por pagina</option>
    </select>
    <small class="p-3">{{pagination.totalCount}} resultados</small>
    <div class="table-responsive">
      <!-- <ngb-pagination [collectionSize]="pagination.totalCount" [(page)]="pagination.page"
                [pageSize]="pagination.pageSize" (pageChange)="search()">
            </ngb-pagination> -->
        <pagination
          [totalItems]="pagination!.totalCount"
          [(ngModel)]="pagination.page"
          [itemsPerPage]="pagination.pageSize"
          [maxSize]="3"         
          [boundaryLinks]="false"  
          [rotate]="true"         
          (pageChanged)="pageChanged($event)">
        </pagination>
    </div>
  </div>
</div>