<div class="row justify-content-between">
  <div class="row mb-3">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <span class="text-secondary">ESTADO ACTUAL</span>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <h4>
                <i class="bi bi-circle-fill text-success"></i>
                {{cashRegister ? 'ABIERTA' : 'CERRADA'}}
              </h4>
            </div>
            <div class="col-4 text-end">
              <i class="bi bi-lock"></i>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <small class="text-secondary fs-5" *ngIf="cashRegister">
                Abierta {{ getOpenedAtHuman() }}
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <span class="text-secondary">SALDO EN CAJA</span>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <h4>
                {{cashRegister?.balance}} Bs.
              </h4>
            </div>
            <div class="col-4 text-end">
              <i class="bi bi-wallet text-primary"></i>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <small class="text-secondary fs-5" *ngIf="cashRegister">
                Abierta {{ getOpenedAtHuman() }}
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <span class="text-secondary">ACCIONES RÁPIDAS</span>
            </div>
          </div>
          <div class="row">
            <div class="col-6 text-end">
              <button  
                class="btn btn-outline-secondary py-3"
                [disabled]="cashRegister"
                (click)="openCashRegister()">
                <i class="bi bi-box-arrow-right"></i>
                Abrir caja
              </button>
            </div>
            <div class="col-6 text-start">
              <button 
                *ngIf="cashRegister" 
                class="btn btn-danger py-3" 
                (click)="closeCashRegister()">
                <i class="bi bi-box-arrow-right"></i>
                Abrir caja
              </button>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
    <form [formGroup]="formProducto" (ngSubmit)="search()" novalidate="">
      <div class="input-group mb-3">
        <input type="text" formControlName="fieldCodigo" class="form-control w-25" placeholder="Codigo"
          aria-label="Buscar" aria-describedby="button-addon2">
        <input type="text" formControlName="fieldNombre" class="form-control w-50" placeholder="Buscar ..."
          aria-label="Buscar" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">
          <i class="bi bi-search"></i>
        </button>
      </div>
    </form>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-end">
    
  </div>
</div>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Codigo</th>
        <th scope="col">Nombre</th>
        <th scope="col">Marca</th>
        <th scope="col">Area</th>
        <th scope="col">Precio</th>
        <th scope="col">Detalle</th>
        <th scope="col">Stock</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of almacenes">
        <th scope="row">{{item.id}}</th>
        <th scope="row">{{item.producto.id}}</th>
        <td>{{item.producto.nombre}}</td>
        <td>{{item.producto.marca}}</td>
        <td>{{item.producto.area}}</td>
        <td>{{item.producto.precio}}</td>
        <td>{{item.producto.detalle}}</td>
        <td>{{item.cantidad}}</td>
        <td>
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-three-dots-vertical"></i>
            </button>
            <ul class="dropdown-menu">
              <button class="dropdown-item" type="button">
                <i class="bi bi-eye"></i> Ver
              </button>
            </ul>
          </div>
        </td>
      </tr>
      <tr *ngIf="almacenes.length == 0">
        <td colspan="6" class="text-center">
          No hay registros
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-between p-2">
    <select class="form-select" style="width: auto" [(ngModel)]="pagination.pageSize" (ngModelChange)="search()">
      <option *ngFor="let item of pagination.sizeOptions" [ngValue]="item">{{item}} por pagina</option>
    </select>
    <small class="p-3">{{pagination.totalCount}} resultados</small>
    <div class="table-responsive">
      <!-- <ngb-pagination [collectionSize]="pagination.totalCount" [(page)]="pagination.page"
                [pageSize]="pagination.pageSize" (pageChange)="search()">
            </ngb-pagination> -->
    </div>
  </div>
</div>