<span *ngIf="type == cashMovementTypeIN" class="badge rounded-pill bg-success">
    Entrada
</span>
<span *ngIf="type == cashMovementTypeOUT" class="badge rounded-pill bg-danger">
    Salida
</span>
<span *ngIf="type == cashMovementTypeOPENING" class="badge rounded-pill bg-primary">
    Apertura
</span>
<span *ngIf="type == cashMovementTypeCLOSING" class="badge rounded-pill bg-secondary">
    Cierre
</span>
<span *ngIf="type == cashMovementTypeAJUSTMENT" class="badge rounded-pill bg-warning">
    Ajuste
</span>
