/**
 * INVOICE PRINTING
 */
@media print {
.invoice {
  /* width: 58mm; */
  width: 100%;
  font-size: 10px;
  font-family: monospace;
  margin: 0;
  padding: 0;
  color: #000;
  border: 1px solid #000;
  padding: 10px !important;
}

.invoice table {
  width: 100%;
  border-collapse: collapse;
}

.invoice th,
.invoice td {
  padding: 5px 0;
  text-align: left;
  font-size: 9px;
  font-family: 'Consolas', 'Lucida Console', 'Courier New', monospace;
  border-bottom: 1px dashed #000;
}

.invoice th {
  font-weight: bold;
}

.invoice .center {
  text-align: center;
}

.invoice .bold {
  font-weight: bold;
}

.invoice .total {
  border-top: 1px dashed #000;
  margin-top: 5px;
  padding-top: 5px;
  font-weight: bold;
}

.invoice .line {
  border-top: 1px dashed #000;
  margin: 4px 0;
}

.invoice .ticket {
  padding: 5px;
}

.invoice .logo {
  margin: 5px 0;
}

.signature-space {
  width: 100%;
  height: 50px;
}

.sub-detail-conent {
  width: 100%;
  padding-left: 10px;
}

.sub-detail-conent td {
  border-bottom: none !important;
  padding: 0;

}
}