/* @import "~bootstrap-icons/font/bootstrap-icons.css"; */
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "primeicons/primeicons.css";

/* You can add global styles to this file, and also import other style files */
/* layout */
.content-right {
    width: calc(100% - 250px);
    height: 85vh;
    padding-top: 4.6rem;
    ;
}

.content-left {
    padding: calc(3.6rem + 2rem) 1rem 1rem 1rem;
    width: 250px;
    z-index: 0;
}

@media only screen and (max-width: 600px) {
    .content-right {
        width: 100%;
    }
}

/*  */
.bg-modal-over {
    background: #00000082 !important;
}


/* custom layout */
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #444444;
}
.fixed-top-desktop {
     position:fixed; 
     top:11vh; 
     right:0; 
     width:296px
}

@media only screen and (max-width: 600px) {
    .fixed-top-desktop {
         position:inherit; 
         top:0; 
         right:0; 
         width:100%
    }
}

.fs-5 {
    font-size: 0.7rem !important;
}

.dropdown-item {
  cursor: pointer;
}

